body {
	font-family: sans-serif;
	cursor: default;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}
H1 {
	text-align: center;
	font-size: 48px;
}


.numberDisplay {
	text-align: center;
	margin: 15px;
	padding: 15px;
	font-size: 36px;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

p {
	padding-top: 15px;
}

#resetButton #randomButton {
	cursor: pointer;
}